%section.forrester-wave-section
  .container
    .row.flex-row
      .col-md-5.forrester-wave-body
        %h2.main-heading GitLab named a Leader in the Forrester Wave™
        %p.promo-text Receiving the highest score in Forrester’s Current Offering evaluation, GitLab was named as a Leader in Continuous Integration in The Forrester Wave™: Continuous Integration Tools, Q3 2017 report. According to the report, “GitLab delivers ease of use, scalability, integration, and innovation.”
        .btn-group
          = link_to "/resources/forrester-wave-ci-2017/", class: "btn cta-btn accent margin-top20" do
            Read the Report

      .col-md-7.col-md-offset-1.forrester-wave-media
        = image_tag "/images/home/forrester-ci-wave-graphic.svg", alt: "GitLab is in the Leader’s arc"
