---
layout: default
title: "GitLab Heroes"
description: "Meet the GitLab Heroes"
suppress_header: true
extra_css:
  - team.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right"
  .header-content
    %h1 Meet the GitLab Heroes
    %p.text-center GitLab Heroes are members of the wider GitLab community who make outstanding contributions to GitLab and our community around the globe.
    = link_to "Learn more about GitLab Heroes", "/community/heroes", class: "btn cta-btn orange margin-top20"

.wrapper
  .team-container
    .row.team-row.text-center
      - data.heroes.each do |member|
        = partial "includes/heroes/member_overview", locals: { member: member }

    .row.u-margin-top-md.text-center
      .col-md-4.text-center
        = link_to "Become a GitLab Hero", "/community/heroes#apply"
      .col-md-4.text-center
        = link_to "Add yourself to this page", "/handbook/marketing/community-relations/evangelist-program/#adding-yourself-to-the-heroes-page"
      .col-md-4.text-center
        = link_to "Find a speaker", "/events/find-a-speaker/"


