---
title: Migration Services
suppress_header: true
description: "Migrate the data that matters to ensure a smooth transition."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration Services
    %h3.headline-subtitle
      Facilitate your transition to GitLab

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          Your data is valuable and making it readily available for immediate continuity is indispensable. Our migration services will facilitate your transition to GitLab by providing a clean, dataset to resume operations at once.

        %h2 Who is this service for?
        %p.service-para
          Customers who have a history with legacy source control or DevOps tools and want to ensure a smooth transition for their teams to modern single-application architecture.

        %h1 What's included?
        %h2 Converting source control
        %p.service-para
          For users coming from modern git-based source control, often GitLab's built-in 
          %a{href: "https://docs.gitlab.com/ee/user/project/import/"} import tools 
          can be effective for small teams.  For larger enterprises, or legacy source control systems like SVN or CVS, our team can get involved. We provide technical expertise and project management to ensure a smooth transition for your teams.  Designed to help you avoid common and uncommon pitfalls in a migration, our team will be with you every step of the way.

        %p Examples of the types of conversions our team can facilitate:
        %ul
          %li SVN to GIT
          %li GitHub.com
          %li GitHub Enterprise
          %li Bitbucket
          %li GitLab Core

        %h2 Converting CI/CD
        %p.service-para
          Converting your team's CI/CD pipelines to a new tool like GitLab CI/CD can involve more detailed considerations than a source control migration.  Often these projects include a combination of technical conversation and modernization of the overall approach.
        %p.service-para
          For migrating from Jenkins or Cloudbees Jenkins, we offer a 
          %a{href: "/services/migration/jenkins"} Jenkins migration service.

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
