:markdown

  ## Responsibilities

  ### Documentation

  * Document undocumented features.
  * Maintain and update documentation.
  * Improve the documentation UX.
  * Coordinate with the Development team to ensure feature coverage and avoid overlap.

  ### Tutorials

  * Write tutorials for getting started with GitLab features and advanced topics.
  * Create video tutorials for the same content.

  ### Website

  * Keep technical content on website up to date.
  * Review Community Writer pitches and MRs.

  It is not the responsibility of the Technical Writing team to write
  documentation for new or updated features. All merge requests should include
  comprehensive documentation written by the Development team.
