---
layout: default
title: Universal Remote- Podcast
description: "Take Your Work Anywhere: Wednesdays at 11am PT"
suppress_header: true
extra_css:
  - meetups.css
  - events.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - events.js
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Universal Remote Podcast
    %p Take Your Work Anywhere
    %p Launching Monday April 20th
    = link_to("Listen Here", "/community/virtual-meetups#upcoming-events", class: "btn cta-btn purple-reverse")

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-xl.js-in-page-nav-section#attend-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand About GitLab and Universal Remote 

          %p Welcome to Universal Remote, GitLab's new weekly webinar focused on helping teams transition to a fully remote world.GitLab is the largest all-remote company in the world with over 1,200 team members spanning across 65 countries. Since its inception, GitLab has embraced remote work and now has a dedicated team to foster remote best practices.GitLab is dedicated to helping remote teams succeed. We recently published The Remote Playbook and the Remote Work Report, and the Remote team consults with organizations across industries and geographies to help transition teams to virtual workspaces.The sudden shift to remote work can be challenging, especially given current events, so we'll take 30 minutes each week to help your team work efficiently and make the transition as smooth as possible. We'll uncover the tips, tricks, and insights gleaned from GitLab's long history of remote work and from partners in the industry. Our goal is to make remote content digestible, actionable, and fun.

          %p Below are some topics we will cover this season.

          %ul
            %li How to balance work and home life as a remote worker
            %li How to rapidly transition your teams to a remote environment without losing momentum in your business
            %li How to set up a remote work emergency plan
            %li How to adjust to work-from-home" guide for employees new to working remotely
            %li How to support your team as a remote manager
            %li Why communication is important for successful remote working
            %li Five first steps for newly-remote leaders
            %li Five first steps for newly-remote employees
            %li The foundations of remote work

      .row.u-margin-top-xl.js-in-page-nav-section#organize-a-virtual-meetup
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Our Sister Morning Show

          %p
            We host a weekly webcast on remote work
            = link_to("Universal Remote Weekly Webcast", "/community/meetups/checklist#planning-a-virtual-meetup")
            every Wednesday at 11am PT.  Weekly, we share some of the best practices that our team has pulled together from our years working as a fully distributed company. Each week, will uncover some of the tips, tricks, and insights gleaned from within GitLab and from partners in the industry. We know that there's a lot of great content out there, so want to make that information as digestible, actionable, and fun as possible. 

      .row.u-margin-top-xl.js-in-page-nav-section#resources
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Resources on Remote Work

          %p Please find more remote work resources here. From the cost savings on office space to more flexibility in employees' daily lives, all-remote work offers a number of advantages to organizations and their people. Find out more about how to get strated or improve team functions using a remote first business model. 

          .resource-block.resource-block--resources.u-margin-top-md

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  = link_to("Remote Playbook", "https://about.gitlab.com/company/culture/all-remote/")
                %span.resource-author FREE Remote Playbook from the world's largest all-remote company

              %li.resource-list-item
                %h4.resource-title
                  = link_to("Remote Resources", "https://about.gitlab.com/company/culture/all-remote/")
                %span.resource-author GitLab's Guide to Remote Work

.center-horizontal
  %nav
    %ul.pagination
      %li
        %a{href:"#"}
          <<
      %li
        %a{href:"#"}
          1
      %li
        %a{href:"#"}
          >>
